USE gabby
GO

ALTER VIEW easyiep.njsmart_powerschool AS

SELECT [student_number]
      ,[state_studentnumber]
      ,[first_name]
      ,[last_name]
      ,[dob]
      ,[nj_se_referraldate]
      ,[nj_se_parentalconsentdate]
      ,[nj_se_eligibilityddate]
      ,[nj_se_initialiepmeetingdate]
      ,[nj_se_parental_consentobtained]
      ,[nj_se_consenttoimplementdate]
      ,[nj_se_lastiepmeetingdate]
      ,[special_education]
      ,[nj_se_reevaluationdate]
      ,[nj_se_delayreason]
      ,[nj_se_placement]
      ,[nj_timeinregularprogram]
      ,[ti_serv_counseling]
      ,[ti_serv_occup]
      ,[ti_serv_physical]
      ,[ti_serv_speech]
      ,[ti_serv_other]
FROM [gabby].[easyiep].[njsmart_powerschool_kcna]

UNION ALL

SELECT [student_number]
      ,[state_studentnumber]
      ,[first_name]
      ,[last_name]
      ,[dob]
      ,[nj_se_referraldate]
      ,[nj_se_parentalconsentdate]
      ,[nj_se_eligibilityddate]
      ,[nj_se_initialiepmeetingdate]
      ,[nj_se_parental_consentobtained]
      ,[nj_se_consenttoimplementdate]
      ,[nj_se_lastiepmeetingdate]
      ,[special_education]
      ,[nj_se_reevaluationdate]
      ,[nj_se_delayreason]
      ,[nj_se_placement]
      ,[nj_timeinregularprogram]
      ,[ti_serv_counseling]
      ,[ti_serv_occup]
      ,[ti_serv_physical]
      ,[ti_serv_speech]
      ,[ti_serv_other]
FROM [gabby].[easyiep].[njsmart_powerschool_team]